.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  overflow: scroll;
  margin: 100px;
  align-items: center;
  display: flex;
}

.icon {
  padding: 25px;
}