.card {
  background-color: rgba(56,112,176, .4);
  border: 1px solid oldlace;
  color: black;
  padding: 10px;
  width: 100%;
}

.cardImgTop {
  width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

.cardTitle {
  font-size: 30px;
  color: black;
}

.cardText {
  font-size: 18px;
}

.cardContainer {
  background-color: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  gap: 20px;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

#deployed {
  background-color: black;
  border: 1px solid white;
}

#deployed:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

#git:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

#git {
  background-color: white;
  border: 1px solid black;
  color: black;
}