.portfolioNav{
  --body-bg: #A9DEF9;
  --hover: #f4b860;
  --text: black;
  --bg: #b4d4ee;
  --shadow: black;
  --article-bg: oldlace;
  --article-text: black;
  --lDBtn-content: 'Dark Mode';
  --border: #b4d4ee;
  --card-bg: oldlace;
  --card-text: black;
  --card-title: black;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  display: grid;
  background-color: var(--body-bg);
  /* background: url(../assets/clouds.JPG) no-repeat center center; */
  
  justify-content: center;
  text-align: center;
  display: flex;
  margin-left: 0;
  background-color: #333;
  padding-bottom: 0;
  overflow-x: hidden;
  height: auto;
  text-decoration: none;
}