.portfolioNav{
  --hover: #f4b860;
  --text: black;
  --bg: #b4d4ee;
  --shadow: black;
  --article-bg: oldlace;
  --article-text: black;
  --lDBtn-content: 'Dark Mode';
  --border: #b4d4ee;
  --card-bg: oldlace;
  --card-text: black;
  --card-title: black;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  display: grid;
  justify-content: space-between;
  text-align: center;
  display: flex;
  overflow-x: hidden;
  height: auto;
  padding: 20px;
  margin: 0 50px;
}

button {
  background-color: oldlace;
  border-radius: 7px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

button:hover {
  background-color: black;
  color: oldlace;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: oldlace;
}